# Import the library

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
from sklearn.metrics import accuracy_score

# Read the data

In [21]:
raw_mail_data=pd.read_csv('mail_data.csv')

In [22]:
raw_mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [23]:
#replace the null value with a null string
mail_data=raw_mail_data.where(pd.notnull(raw_mail_data),'')

In [24]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
#checking the size of data set
mail_data.shape

(5572, 2)

In [31]:
#information of data set
mail_data.info

<bound method DataFrame.info of      Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]>

In [33]:
#Label spam as 0 and ham as 1
mail_data.loc[mail_data['Category']=='spam','Category']=0
mail_data.loc[mail_data['Category']=='ham','Category']=1

In [34]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [35]:
#seperating the data as texts and levels
X = mail_data['Message']
y=mail_data['Category']

In [36]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [37]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [38]:
#splitting the data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3)

# Feature Extraction

In [39]:
#transform the text data to feature vectors that can be used as input to the Logistic regression
feature_exraction = TfidfVectorizer(min_df = 1, stop_words= 'english' , lowercase= 'True')

X_train_features = feature_exraction.fit_transform(X_train)

X_test_features = feature_exraction.transform(X_test)

#convert Y_train and Y_test value as integers

y_train = y_train.astype('int')
y_test = y_test.astype('int')

# Training the model

In [42]:
model = LogisticRegression()

In [45]:
#training the logistic regression model
model.fit(X_train_features,y_train)

LogisticRegression()

# Evaluating the trained model

In [48]:
#prediction on training data
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(y_train , prediction_on_training_data)

In [49]:
print('Accuracy on training data : ',accuracy_on_training_data)

Accuracy on training data :  0.9683643706529056

In [50]:
#prediction on test data
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(y_test , prediction_on_test_data)

In [51]:
print('Accuracy on test data : ',accuracy_on_test_data)

Accuracy on test data :  0.9524663677130045

In [52]:
input_mail = ["XXXMobileMovieClub: To use your credit, click the WAP link in the next txt message or click here>> http://wap. xxxmobilemovieclub.com?n=QJKGIGHJJGCBL"]

#convert text to feature vectors
input_data_features= feature_exraction.transform(input_mail)

In [53]:
#making predictions

prediction = model.predict(input_data_features)

In [54]:
print(prediction)

[0]

In [55]:
if prediction[0]==0:
    print('spam mail')
else:
    print('Ham mail')

spam mail